<div id="container-home-all">
  <div class="container">
    <div id="profile-div">
      <div style="text-align: right"><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_user_registration_path, id: "edit-button" %></div>

      </br>
      <div class="d-flex title-div">
        <p class="profile-titles">Email address:&nbsp; </p> <p class="profile-info"> <%= current_user.email %></p>
      </div>
      <div class="d-flex">
        <p class="profile-titles">Home address:&nbsp; </p> <p class="profile-info"> <%= current_user.frequent_address %></p>
      </div>
      <% if current_user.emergency_contacts.any? %>
        <div class="d-flex">
        <p class="profile-titles">Emergency Contact Name:&nbsp; </p> <p class="profile-info"> <%= current_user.emergency_contacts.last.name %></p>
        </div>
      <div class="d-flex">
        <p class="profile-titles">Emergency Contact Number:&nbsp; </p> <p class="profile-info"> <%= current_user.emergency_contacts.last.number %></p>
      </div>
      <div class="d-flex">
        <p class="profile-titles">Emergency Contact Message:&nbsp; </p> <p class="profile-info"> <%= current_user.emergency_contacts.last.message %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
