<div class="">
  <div class="d-flex">

    <div
      id="mapContainer"
      style="width: 75%;
      height: calc(100vh - 64px);"
      data-markers="<%= @markers.to_json %>"
      data-geo-marker="<%= @geolocation_marker %>"
      data-coordinates-start="<%= @coordinates_start %>"
      data-coordinates-end="<%= @coordinates_end %>"
      data-here-app-id="<%= ENV['here_app_id'] %>"
      data-here-app-code="<%= ENV['here_app_code'] %>"
    ></div>
    <div>

      <div class="address-report">
        <div>

        <%= form_tag reports_path, method: :get do %>
          <%= text_field_tag :query_start,
          params[:query_start],
          class: "form-control",
          placeholder: "Somewhere in Brussels"
          %>
          <%= text_field_tag :query_end,
          params[:query_end],
          class: "form-control",
          placeholder: "Somewhere else in Brussels"
          %>
          <%= submit_tag "Go!" %>
        <% end %>

        <div class="btn btn-primary" id="safest_button">Fafest</div>
        <div class="btn btn-success" id="fastest_button">Safest</div>
        </div>
      </div>
      <div id="instructionsContainer">

      </div>
      <div>
        <br>
        <br>
        <div class="d-flex justify-content-around">

          <div>
            <%= link_to "Distress Message", emergency_contacts_path, method: :post, class:"btn btn-danger"  %>
          </div>

          <%= link_to new_report_path do %>
          <div class="btn btn-danger text-right">Report</div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


