<div class="">
  <div class="row">

    <div
      id="mapContainer"
      style="width: 75%;
      height: calc(100vh - 64px);"
      data-markers="<%= @markers.to_json %>"
      data-geo-marker="<%= @geolocation_marker %>"
      data-coordinates-start="<%= @coordinates_start %>"
      data-coordinates-end="<%= @coordinates_end %>"
      data-here-app-id="<%= ENV['here_app_id'] %>"
      data-here-app-code="<%= ENV['here_app_code'] %>"
      class="col-12 col-lg-8"
    ></div>
    <div class="col-12 col-lg-4">

      <div class="address-report">
        <div>

        <%= form_tag reports_path, method: :get do %>
          <%= text_field_tag :query_start,
          params[:query_start],
          class: "form-control",
          placeholder: "Somewhere in Brussels"
          %>
          <%= text_field_tag :query_end,
          params[:query_end],
          class: "form-control",
          placeholder: "Somewhere else in Brussels"
          %>
          <%= submit_tag "Go!" %>
        <% end %>

        </div>
        <%= link_to new_report_path do %>
        <div class="btn btn-primary text-right">Report</div>
        <% end %>
      </div>
      <div id="instructionsContainer">

      </div>
      <div>
        <div>
          <br>
          <br>
          <%= link_to "Distress Message", emergency_contacts_path, method: :post, class:"btn btn-danger"  %>
        </div>
      </div>
    </div>
  </div>
</div>


