<div class="">
  <div class="d-flex">

    <div
      id="mapContainer"
      style="width: 75%;
      height: calc(100vh - 64px);"
      data-markers="<%= @markers.to_json %>"
      data-geo-marker="<%= @geolocation_marker %>"
      data-coordinates-start="<%= @coordinates_start %>"
      data-coordinates-end="<%= @coordinates_end %>"
      data-here-app-id="<%= ENV['here_app_id'] %>"
      data-here-app-code="<%= ENV['here_app_code'] %>"
    ></div>
    <div>

      <div class="address-report">
        <div>

        <%= form_tag reports_path, method: :get do %>
          <%= text_field_tag :query_start,
          params[:query_start],
          class: "form-control",
          placeholder: "Somewhere in Brussels"
          %>
          <%= text_field_tag :query_end,
          params[:query_end],
          class: "form-control",
          placeholder: "Somewhere else in Brussels"
          %>
          <%= submit_tag "Go!" %>
        <% end %>

        </div>
        <div class="btn btn-primary text-right">Report</div>
      </div>
      <div id="instructionsContainer">


      </div>

      <div>
        <div>
          <br>
          <br>
          <%= form_tag reports_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Brussels"
            %>
            <%= submit_tag "Geolocate!" %>
          <% end %>
          <br>
          <br>
          <div class="btn btn-danger text-right">Distress message</div>

        </div>
      </div>

    </div>
  </div>
</div>


