<div class="">
  <div class="d-flex">

    <div
      id="mapContainer"
      style="width: 75%;
      height: calc(100vh - 64px);"
      data-markers="<%= @markers.to_json %>"
      data-geo-marker="<%= @geolocation_marker %>"
      data-here-app-id="<%= ENV['here_app_id'] %>"
      data-here-app-code="<%= ENV['here_app_code'] %>"
    ></div>
    <div>

      <div class="address-report">
        <div>

          <form accept-charset="UTF-8" action="#" method="get">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <div>
              <label for="q">Start:</label>
              <input id="q" name="q" type="text" placeholder="Enter your position" />
            </div>
            <div>
              <label for="e">End:</label>
              <input id="e" name="e" type="text" placeholder="Enter your destination" />
            </div>
            <input name="commit" type="submit" value="Go" />
          </form>

        </div>
        <div class="btn btn-primary text-right">Report</div>
      </div>
      <div id="instructionsContainer">


      </div>

      <div>
        <div>
          <br>
          <br>
          <%= form_tag reports_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Brussels"
            %>
            <%= submit_tag "Geolocate!" %>
          <% end %>
          <br>
          <br>
          <%= link_to "Distress Message", emergency_contacts_path, method: :post, class:"btn btn-danger"  %>
        </div>
      </div>

    </div>
  </div>
</div>


