<div class="">
  <div class="d-flex">
    <div
      id="mapContainer"
      style="width: 65%;
      height: calc(100vh - 64px);"
      data-markers="<%= @markers.to_json %>"
      data-here-app-id="<%= ENV['here_app_id'] %>"
      data-here-app-code="<%= ENV['here_app_code'] %>"
    ></div>
    <div>
      <% @reports.each do |report| %>
        <ul>
          <li> <%= report.report_type %> : <%= report.description %> </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
