<div class="banner">
  <div class="container">
    <div class="row w-100">
      <div class="text col-xs-12 col-sm-6">
        <h1>naviSafe</h1>
        <h3>A shortcut to safety</h3>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="app align-middle d-flex justify-content-around">
          <span><i class="fab fa-android">Android</i></span>
          <span><i class="fab fa-apple"> Apple</i></span>
        </div>
        <a data-scroll href="#full">
          <div class="arrow-down bounce"></div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="" id="full">
  <div class="row">

    <div
      id="mapContainer"
      style="width: 75%;
      height: 91vh;"
      data-markers="<%= @markers.to_json %>"
      data-geo-marker="<%= @geolocation_marker %>"
      data-coordinates-start="<%= @coordinates_start %>"
      data-coordinates-end="<%= @coordinates_end %>"
      data-here-app-id="<%= ENV['here_app_id'] %>"
      data-here-app-code="<%= ENV['here_app_code'] %>"
      class="col-12 col-lg-8"
    ></div>
    <div class="col-12 col-lg-4">

      <div class="address-report">
        <div>
          <div class="search-destination d-flex">
            <div>
              <%= form_tag reports_path(anchor: "full"), :id => "search-form", method: :get do %>
                <%= text_field_tag :query_start,
                params[:query_start],
                class: "form-control",
                placeholder: "Somewhere in Brussels"
                %>
                <%= text_field_tag :query_end,
                params[:query_end],
                class: "form-control",
                placeholder: "Somewhere else in Brussels"
                %>
              </div>
              <div>
                <%= submit_tag "Go!", id:"go-button" %>
               </div>
            <% end %>
          </div>
        <label class="switch">
<!--
        <div class="btn btn-success" id="fastest_button">Safest</div>
        <div class="btn btn-primary" id="safest_button">Fastest</div> -->
          <!-- <label class="switch" id="fastest_button">
            <input type="checkbox">
            <span class="slider round"></span>
          </label> -->
          <!-- <label class="switch" id="route_toggle">
            <input type="checkbox">
            <span class="slider round"></span>
          </label> -->
           <!-- <div class="form-group">
            <label for="formControlRange">Example Range input</label>
            <input type="range" class="form-control-range" id="formControlRange">
          </div> -->
          <div class="d-flex">Safe
          <input type="range" class="custom-range" min="0" value="0" max="1" id="routeToggle">Fast</div>
        </div>
      </div>
      <div id="instructionsContainer" style="overflow-y: scroll; height:400px;">

      </div>
      <div>
        <br>
        <br>
        <div class="d-flex justify-content-around">

          <div>
            <%= link_to "Distress Message", emergency_contacts_path, method: :post, class:"btn btn-danger"  %>
          </div>



          <%# link_to new_report_path do %>
          <!-- <div class="btn btn-danger text-right">Report</div> -->
          <%# end %>

          <!-- Button trigger modal -->
<!--           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Report
          </button> -->

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Report Incident</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for Report.new do |f| %>


                  <%= f.input :address, :as => :hidden, placeholder: "address", id: "form_address" %>
                  <%# raise %>

                  <%= f.input :report_type, collection: Report::INCIDENTS %>

                  <%= f.input :description %>

                  <%# f.input :occurence_timedate %>

                  <%= f.input :occurence_timedate, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" }, input_html: {value: "#{Time.now}"} %>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= f.button :submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>


