<div class="banner">
  <div class="container banner-text">
    <div class="row w-100">
      <div class="text col-xs-12 col-sm-6">
        <h1>naviSafe</h1>
        <h3>&nbsp&nbsp&nbsp&nbspA shortcut to safety</h3>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="app align-middle d-flex justify-content-left">
          <span><i class="fab fa-google-play"> Android</i></span>
          <span><i class="fab fa-apple"> Apple</i></span>
        </div>
        <a data-scroll href="#full">
          <div class="arrow-down bounce"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="div-cards-landing-page">
  <div id="cardings" class="container d-flex">
    <div class="carding">
      <div class="icon-awesome"><i class="far fa-compass"></i></div>
      <div><h4>Navigate</h4></div>
      <div class="carding-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div>
    </div>
    <div class="carding">
      <div class="icon-awesome"><i class="far fa-flag"></i></div>
      <div><h4>Report</h4></div>
      <div class="carding-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
    </div>
    <div class="carding">
      <div class="icon-awesome"><i class="fas fa-fist-raised"></i></div>
      <div><h4>Empower</h4></div>
      <div class="carding-desc"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
    </div>
  </div>
</div>
<div class="" id="full">
  <div class="row">

    <div
      id="mapContainer"
      data-markers="<%= @markers.to_json %>"
      data-geo-marker="<%= @geolocation_marker %>"
      data-coordinates-start="<%= @coordinates_start %>"
      data-coordinates-end="<%= @coordinates_end %>"
      data-here-app-id="<%= ENV['here_app_id'] %>"
      data-here-app-code="<%= ENV['here_app_code'] %>"
      class="col-12 col-lg-8"
    ></div>
    <div class="col-xs-12 col-lg-4" id="address-buttons">

      <div class="address-report">
        <div>
          <div class="search-destination">
            <div>
              <%= form_tag reports_path(anchor: "full"), :id => "search-form", method: :get do %>
                <%= text_field_tag :query_start,
                params[:query_start],
                class: "form-control",
                placeholder: "Somewhere in Brussels"
                %>
                <%= text_field_tag :query_end,
                params[:query_end],
                class: "form-control",
                placeholder: "Somewhere else in Brussels"
                %>
              </div>
              <div class="d-flex justify-content-between">

                <div>
                  <%= button_tag :submit do %>
                    <i class="fas fa-arrow-circle-right"></i>
                  <% end %>
                </div>
              <% end %>
              <div class="d-flex" id="safe-fast-toggle">Safe
              <input type="range" class="custom-range" min="0" value="0" max="1" id="routeToggle">Fast</div>
            </div>
          </div>
        </div>

      </div>
      <div id="instructionsContainer">
      </div>
      <div>
        <br>
        <br>
        <div class="d-flex justify-content-around">


<!--           <div> -->
            <%#= link_to "Distress Message", emergency_contacts_path, class:"btn btn-danger", id:"distress"  %>
<!--           </div> -->


          <%# link_to new_report_path do %>
          <!-- <div class="btn btn-danger text-right">Report</div> -->
          <%# end %>

          <!-- Button trigger modal -->
<!--           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Report
          </button> -->

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Report Incident</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for Report.new do |f| %>


                  <%= f.input :address, :as => :hidden, placeholder: "address", id: "form_address" %>
                  <%# raise %>

                  <%= f.input :report_type, collection: Report::INCIDENTS %>

                  <%= f.input :description %>

                  <%# f.input :occurence_timedate %>

                  <%= f.input :occurence_timedate, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" }, input_html: {value: "#{Time.now}"} %>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= f.button :submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>


